<Header class="header">
    <a href="/" class="header__logo">Admin Panel</a>
    <nav class="header__nav">
        <ul>
            <li>
                <a href="/" class="">Home</a>
            </li>
            <li>
                <a href="/dashboard" class="">Dashboard</a>
            </li>
            <li>
                <a href="/register" class="">Register</a>
            </li>
        </ul>
    </nav>
    <div class="header__button">
        <button><a href="/logout">Logout</a></button>
    </div>
</Header>
