<div class="typewriter">
    <h3>My Name is Hoang. 👆</h3>
    i want share knowledge for someone, and hope it will help you about
    technical Thanks you.
</div>
<div class="about__me">
    <h5>
        Contact With Me:
        <a href="https://www.facebook.com/hgit2002/">
            <img
                src="https://cdn-icons-png.flaticon.com/128/5968/5968764.png"
            />
        </a>
        <a href="https://www.instagram.com/hoang.lop9e/">
            <img
                src="https://cdn-icons-png.flaticon.com/128/3955/3955024.png"
            />
        </a>
        <a href="https://github.com/hoangit2k2">
            <img src="https://cdn-icons-png.flaticon.com/128/733/733609.png" />
        </a>
    </h5>
</div>
